body {
background-color: bisque;
}
a:hover{
    color: rgb(109, 40, 63);
}
.nav {
background-color: rgb(245, 153, 153);
display: flex;

   height: 5rem; 
   font-size: 2rem;
   align-items: center;
   justify-content: center; 
}
.links {
    margin: 3rem;
    color: #000;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #111111;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}